[Unit]
Description=Waveshare Clock
After=network.target

[Service]
ExecStart=/bin/bash run-clock.sh
WorkingDirectory=/home/pi/src/waveshare-clock
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target