[Unit]
Description=epaper-clock-and-more
After=network.target

[Service]
ExecStart=/home/pi/epaper-clock-and-more/run.sh
WorkingDirectory=/home/pi/epaper-clock-and-more
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
TimeoutStopSec=20s
StartLimitInterval=5min
StartLimitBurst=5
StartLimitAction=reboot
WatchdogSec=120s
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
