[Unit]
Description=epaper-clock-and-more
After=network.target

[Service]
ExecStart=/home/pi/epaper-clock-and-more/run.sh
WorkingDirectory=/home/pi/epaper-clock-and-more
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
TimeoutStopSec=20s

[Install]
WantedBy=multi-user.target
